*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white:#FFFFFF;
    --black: #000000;
    --purple-50: #63308f;
    --red: #ff0000;
    --purple-100: #3d1f58;
}



@media(max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}
@media(max-width: 720){
    html{
        font-size: 87.5%;
    }
}
body{
    background: var(--white);
    color: var(--black);
}
body, input, textarea, select, button{
    font: 400 1rem "Roboto", sans-serif;
}

button{
    cursor:pointer;
}
a{
    color: inherit ;/*assume a cor do elemento pai*/
    text-decoration:none;
}

.App{
    background-color: #171923;
    max-width: 1080px;
    margin: 0 auto;
}

/*
media para acessibilidade
font padrão 16 px;
cal = 16*0,9375
*/